body {
    background: linear-gradient(130deg, red, pink);
    height: 100vh;
    font-family: Arial, sans-serif;
}

.to-do_list {
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
}

.to-do_list h1 {
    color: #000000;
    text-align: center; 
    align-items: center;
}

.to-do_list h1 img {
    width: 32px;
    margin-right: 5px; 
}

.to-do_list h3 {
    text-align: center; 
    color: #555555;
    margin-top: -20px;
}

.input-row {
    display: flex;
    border: 5px solid salmon;
    align-items: center;
    border-radius: 40px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px 40px;
    font-size: 16px;
}

button {
    border: none;
    outline: none;
    background: salmon;
    padding: 2px 13px;
    border-radius: 50%;
    font-size: 30px; 
    color: white;
    margin-right: 15px;
}

ul li{
    list-style-type: none;
    font-size: 16px;
    padding: 10px 5px 15px 40px;
    position: relative;
}

ul li::before {
    content: "○";
    font-size: 38px;
    position: absolute;
    top: -5px;
    left: -1px;
}

ul li.checked {
    text-decoration: line-through;
    color: grey;
}

ul li.checked::before {
    content: "⦿";
    color: salmon;
}

ul li span {
    position: absolute;
    right: 33px;
    top: 8px;
    font-size: 20px;
}

ul li span:hover{
    color: grey;
}